/* general stuff */
body{
    font-family: sans-serif;
    background-color: whitesmoke; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.superclass{
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(211, 211, 211);
    padding: .5rem;
    box-shadow: 0px 0px 25px lightgrey;
}

.superclass input{background-color: transparent;}
.signInput{
	outline: none;
	position: relative;
	width: 300px;
	border: 0;
}

/* border stuff */
.signInput input{
	outline: none;
	border: 0;
	padding: 1.5rem 0rem .25rem 2rem;
    width: 95%;
    box-sizing: border-box;
	border: solid;
	border-width: 0 0 2px;
  	border-color: rgb(66, 66, 66)
}
.signInput input:focus{border-color: #3297FD;}
.signInput input.good{border-color: #008000;}
.signInput input.bad{border-color: #ff0000;}

/* label stuff */
label{pointer-events: none;cursor: text;}
.signInput label {
    padding-left: 2rem;
    position: absolute; 
	-webkit-transform-origin: top left;
        	transform-origin: top left;
  	-webkit-transform: translate(0, 1.5rem) scale(1);
        	transform: translate(0, 1.5rem) scale(1);
      transition: all .25s ease-in-out;
}
.signInput.active label {
	-webkit-transform: translate(-1.5rem, .20rem) scale(0.75);
       		transform: translate(-1.5rem, .20rem) scale(0.75);
}

/* requirements + diff */
#pass:focus + #requirements{display: block;}
#requirements{display: none;text-align: left;color: red;}

#diffic{position: absolute; width: 95%; height: 0px; background-color: rgb(200, 200, 200); margin: .5rem;-webkit-transition: .2s;transition: .2s;}
#diffic.active{position: relative; height: 10px; -webkit-transition: height .25s;transition: height .25s;}
#dbar{width: 0%; height:100%;}
#dbar.trivial{width: 1%; 
    background-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, .5); 
    -webkit-transition: .5s;
    transition: .5s;
}
#dbar.easy{width: 33%; 
    background-color: orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, .5); 
    -webkit-transition: .5s;
    transition: .5s;
}
#dbar.good{width: 66%; 
    background-color: yellow;
    box-shadow: 0 0 5px rgba(255, 255, 0, .5); 
    -webkit-transition: .5s;
    transition: .5s;
}
#dbar.excellent{width: 100%; 
    background-color: rgb(0, 255, 0);
    box-shadow: 0 0 5px rgba(0, 255, 0, .5); 
    -webkit-transition: .5s;
    transition: .5s;
}

/* icons */
.signInput img{
    position: absolute;
    height: 1rem;width: 1rem;
    bottom: 0;
    left: 0;
    padding: .5rem 1rem;
}